.info__container {
  display: flex;
}

.info__img--wrapper {
  max-width: 600px;
  width: 100%;
}

.info__img {
  width: 100%;
}

.info__details {
  margin-left: 40px;
}

.info__title {
  margin-bottom: 24px;
}

.info__description {
  line-height: 1.5;
}

.info__trailer--wrapper {
  cursor: not-allowed;
  max-width: 400px;
  width: 100%;
}

.info__trailer {
  width: 100%;
}
