.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2b2d42;
  font-size: 40px;
  padding: 40px;
}

.fa-spinner {
  animation: rotate 800ms infinite linear;
  display: none !important;
}

.loading .fa-spinner {
  display: block !important;
}
