.search__form {
  display: flex;
  align-items: center;
}

.search__box {
  padding: 20px 80px 20px 20px;
  border: 2px solid #2b2d42;
  border-radius: 40px;
  margin-right: 16px;
  font-size: 18px;
}

.search__button {
  border: none;
  background-color: #ffffff;
}

.search__button--icon {
  font-size: 20px;
}
